<div class='form-box'>
  如果您在此注册过, 请先 <b><%= link_to "点此登录", new_user_session_url %></b>，以便完成绑定
</div>

<div class='form-box'>
  如果您没有在此注册过，为了更好的为您服务, 请先

  <b><%= link_to "点此填写注册信息", new_user_registration_url %></b>
</div>
